mixin navlist(itm)
	nav: ul
		li: a(href="./educ.html",class=itm!='educ'?'':'sel') Education
		li: a(href="./race.html",class=itm!='race'?'':'sel') Race
		li: a(href="./combo.html",class=itm!='combo'?'':'sel') Combined